body {
    font-family: Arial, sans-serif;
    display: flex;
    
    margin: 0;
    background-color: #f4f4f4;
}

table, td, th, tr {
    border-collapse: collapse;
    border: 1px black solid;
    padding: 5px;
}